<h1>Single user</h1>

<img src="<%= @user.photo %>" alt="User photo">
<p><strong><%= @user.name %></strong> <span>Number of posts: <%= @user.posts_counter %> </span></p>

<p>Bio</p>
<p><%= @user.bio %></p>

<ul>
<% @user.recent_posts.each  do |post| %>
  <li>
    <p><%= link_to post.title, user_post_path(@user, post) %></p>
    <p><%= truncate(post.text, length: 50) %></p>
    <p>Comments <%= post.comments_counter %>, Likes <%= post.likes_counter %></p>
  </li>
<% end %>
</ul>

<%= link_to "See all posts", user_posts_path(@user) %>
<%= link_to 'Log out', destroy_user_session_path, method: :delete %>