<h1>All posts by one user</h1>

<img src="<%= @user.photo %>" alt="User photo">
<p><strong><%= @user.name %></strong> <span>Number of posts: <%= @user.posts_counter %> </span></p>

<ul>
  <% @posts.each do |post| %>
    <li>
      <p><%= link_to post.title, user_post_path(@user, post) %></p>
      <p><%= truncate(post.text, length: 50) %></p>
      <p>Comments <%= post.comments_counter %>, Likes <%= post.likes_counter %></p>
      <ul>
        <% post.return_recent_comments.includes(:author).each do |comment| %>
          <p><%= comment.author.name %> : <%= comment.text %></p>
        <% end %>
      </ul>
      <% if can? :destroy, post%>
      <%=link_to "Delete post", user_post_path(post.author, post), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      <%end%>
    </li>
  <% end %>
</ul>

<%= will_paginate @posts, :container => false %>