<h1>One post</h1>

<p><%= @post.title %> by <%= @post.author.name %> Comments <%= @post.comments_counter %>, Likes <%= @post.likes_counter %></p>

<p><%= @post.text %></p>

<ul>
  <% @post.comments.includes(:author).each do |comment| %>
    <p><%= comment.author.name %> : <%= comment.text %></p>
  <% end %>
</ul>

<%= form_with url: "/users/#{@post.author_id}/posts/#{@post.id}/likes" do |form| %>
  <%= form.submit 'Like' %>
<% end %>
<%= link_to 'Add comment', new_user_post_comment_path(@user, @post) %>